/*Set variables for 2 main colors used on page*/
:root {
    --header-color: darkcyan;
    --background-color: azure;
}

/*Set font family and main background for page*/
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

}

body {
    background: var(--background-color);
}

/*Header styles*/
header {
    display: flex;
    background: var(--header-color);
    padding: 2%;
    align-items: center;
    color: var(--background-color);
}

.header-img {
    min-height: 90px;
    height: 10vh;
    border: 2px solid black;
    border-radius: 50%;
}

h1 {
    font-size: 300%;
    margin: 10px;

}

nav {
    margin-left: auto;
    align-self: flex-end;
}

nav a {
    color: var(--background-color);
    font-size: 150%;
    margin: 10px;
}



/*Styles for all of the sections and headings*/
section {
    margin: 10px 30px 10px 30px;
}

h2 {
    color: var(--header-color);
    font-size: 200%;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*Sets size, position, and color of about me paragraph*/
p {
    display: inline;
    font-size: 110%;
    margin: 10px;
    color: var(--header-color);
    
    line-height: 115%;
}

.work-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.work-example-img {
    max-height: 500px;
    width: 45%;
    border: 5px solid var(--header-color);
    margin: 10px;
}

.first-img {
    max-height: 500px;
    width: 90%;
    border: 5px solid var(--header-color);
    margin: 10px;
    flex: 2;
}

.work-link {
    justify-content: center;
    display: inline-flex;
}

.heading-aside {
    float: left;
    width: 20%;
    border-right: 2px solid var(--header-color);
    text-align: right;
    margin: 10px;
    min-width: 10%;
    height: 100%;
    padding-right: 20px;
}

figure {
    position: relative;
}

.img-text {
    background: var(--header-color);
    color: var(--background-color);
    font-size: 120%;
    position: absolute;
    padding: 10px;
    background-color: var(--header-color);
    bottom: 75px;
    left: 13px;
}

img:hover {
    filter: contrast(50%);
}